# ======================
# BUILD FILES (QUAN TRỌNG)
# ======================
bin/
out/
*.class
.env

# ======================
# ECLIPSE FILES
# ======================
.project
.classpath
.settings/

# ======================
# LOG FILES
# ======================
*.log

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# TEMP FILES
# ======================
*.tmp
*.swp

# ======================
# IDE KHÁC (PHÒNG HỜ)
# ======================
.idea/
*.iml

# ======================
# PACKAGE FILES
# ======================
*.jar
*.war
*.ear
*.zip
*.rar
*.7z